@model THosCase.Business.RequestModel.CategoryRequestModel

<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Kategori Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="mb-3">
                        <label for="addCategoryName" class="form-label">Kategori Adı *</label>
                        <input type="text" class="form-control" id="addCategoryName" name="CategoryName" required>
                    </div>

                    <div class="mb-3">
                        <label for="addParentCategoryId" class="form-label">Üst Kategori</label>
                        <select class="form-control" id="addParentCategoryId" name="ParentCategoryId" required="false">
                            <option value="0">-- Üst Kategori Seçin --</option>
                            @foreach (var category in ViewBag.ParentCategories as List<THosCase.Business.CategoryModel>)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-success" id="addCategory">Kaydet</button>
            </div>
        </div>
    </div>
</div>