@model THosCase.Business.RequestModel.ProductRequestModel

<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Ürün Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="mb-3">
                        <label for="addProductName" class="form-label">Ürün Adı *</label>
                        <input type="text" class="form-control" id="addProductName" name="ProductName" required>
                    </div>

                    <div class="mb-3">
                        <label for="addCategoryId" class="form-label">Kategori</label>
                        <select class="form-control" id="addCategoryId" name="CategoryId" required="false">
                            <option value="0">-- Kategori Seçin --</option>
                            @foreach (var category in ViewBag.Categories as List<THosCase.Business.CategoryModel>)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Fiyat</label>
                        <input type="number" class="form-control" id="addProductPrice" name="Price" required>
                    </div>

                    <div class="mb-3">
                        <label for="productImage" class="form-label">Ürün Görseli</label>
                        <input type="file" class="form-control" id="addProductImage" name="ImagePath" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-success" id="addProduct">Kaydet</button>
            </div>
        </div>
    </div>
</div>